Api/conf/auth.json
Api/conf/cors.json
Api/conf/database.json
Api/*.json
Api/go.sum
Api/tmp
API/gin-bin

.env
*.db

frontend/node_modules
ffrontend/prod-server.js
frontend/package-lock.json
frontend/.next

